.toastwrapper {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  z-index: 999999999;
  position: fixed;
  padding: 5px;
}

.toastwrapper.top-right {
  top: 20px;
  right: 20px;
}

.toastwrapper.top-right ol.toastlist {
  /*Para mostrar los nuevos toasts arriba de los que ya estaban*/
  flex-direction: column-reverse;
}

ol.toastlist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ol.toastlist li {
  margin-bottom: 16px;
}

.leandrosToast {
  border-radius: 8px;
  box-shadow: 0 4px 12px #0000001a;
  font-size: 13px;
  align-items: center;
  display: flex;
  padding: 16px;
  border: 1px solid hsl(0, 0%, 93%);
  background-color: white;
  gap: 6px;
  color: #282828;
  width: 325px;
}

.notif .desc {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.notif .desc .titulo {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.notif .desc .mensaje {
  font-weight: 400;
  line-height: 1.2;
}

.notif .desc .mensaje ul {
  margin-left: 1rem;
}

.notif .desc .mensaje ul li {
  margin-bottom: 0.5rem;
}

.leandrosToast.error {
  background-color: #fef0f0;
  color: hsl(0, 100%, 27%);
  border: solid 1px hsl(0, 92%, 91%);
}

.toastDown {
  animation: slideDown 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeOutToast {
  animation: fadeOut 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
